<body class="bg-light">
  <div class="jumbotron-fluid">
      <div class="row">
          <div class="col-xs-12 ml-4">
              <header>
                  <h1>Nickstabadet</h1>
                  <p>Ett soligt sommarbad</p>
              </header>
          </div>
      </div>
  </div>
  <nav class="navbar navbar-expand bg-white">
      <div>
          <ul class="navbar-nav">
              <li class="nav-item">
                  <a class="nav-link" routerLink="index">Hem</a>
              </li>
              <li  class="nav-item active">
                  <a class="nav-link" routerLink="contact">Kontakt</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="status">Väder</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLink="index">Tillbaka</a>
              </li>
          </ul>
      </div>
  </nav>

  

  <router-outlet></router-outlet>
  <!-- Ersätts av innehållet i routingen -->

  <div class="d-flex flex-column justify-content-between footer mt-3" style="text-align: center; border-top: solid black; background-color: white;">
    <footer>Vill du veta mer? Skicka e-post till <a href="mailto:semiturdean@hotmail.com">Semiturdean@hotmail.com</a>
    </footer>
  </div>
