<div style="max-width: 1200px; margin: 0 auto; padding: 10px;">
    <div class="container-fluid">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-3 order-md-2 offset-1 col-10">
                <section class="Aside" style="margin-top: 1rem;">
                    <h2>Galleria</h2>
                    <aside>
                        <figure>
                            <img alt="No picture" src="assets/images/galleria/waterpark.jpg" width="120">
                            <img alt="No picture" src="assets/images/galleria/tower.jpg" width="120">
                            <img alt="No picture" src="assets/images/galleria/beach.jpg" width="120">
                        </figure>
                    </aside>
                </section>
            </div>
            <div class="col-md-7 order-md-1 offset-1 col-10">
                <section class="Content">
                    <header class="ContentHeader" style="margin: 1rem;">
                        <h2>Nicksta</h2>
                        <h3>Bo nära Nynäshamns populära havsbad</h3>
                    </header>
                    <article class="Column" style="margin-right: 1rem;">
                        <figure class="float-left">
                            <img style="margin-right: 1rem; margin-left: 1rem;" alt="No picture" src="assets/images/camping.jpg" width="80" height="80">
                            <figcaption>Havscamping</figcaption>
                        </figure>
        
                        <p>Campingplatsen ligger vid Nickstabadet, Nynäshamns populära havsbad med stor fin sandstrand.</p>

                        <p style="margin-left: 1rem;">Här finns 130 campingtomter för husvagnar, husbilar och tält, samt 28 stugor för dig som kommer utan eget boende men ändå vill njuta av anläggningens service och utbud.</p>
                        <div>
                            <header id="ThirdHeader" style="margin: 1rem;">
                                <h3>Plaska, åk vattenrutschkana, hyr kanot</h3>
                            </header>
                            <figure class="float-left">
                                <img style="margin-right: 1rem; margin-left: 1rem;" alt="No picture" src="assets/images/kanot.jpg" width="80" height="80">
                                <figcaption>Kanot uthyrning</figcaption>
                            </figure>
                            <p>Vid stranden finns brygga med hopptorn, lång vattenrutschbana och du kan hyra kanot och kajak. Minigolf, kiosk, grill och glassbar finns också här, samt restaurang med rättigheter. Trubadurkvällar anordnas också.</p>
            
                            <p style="margin-left: 1rem;">Härifrån är det 700 meter till pendeltågstation (hpl Nynäsgård) med 55 minuters restid till Stockholms centralstation. Ca 10 min promenad till Nynäshamns centrum för shopping och många restauranger och för båtar till Gotland, Lettland, Polen och omkringliggande skärgård. Sommartid finns gott om intressanta utflyktsmöjligheter i omgivningarna</p>
                        </div>
                    </article>
                </section>
            </div>                 
        </div>
    </div>
</div>